.header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;


    nav {
        width: 20%;

        ul {
          width: 100%;
            display: flex;
            list-style: none;
            padding: 0;
            justify-content: space-between;

            a {
                text-decoration: none;
                color: red;
            }


        }

        .active {
            text-decoration: underline;
            color: red;
        }
    }
}

.logo {
    margin-left: 50px;
}

@media (max-width: 576px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  nav {
    text-align: center;
    margin-top: 0;

    ul {
      flex-direction: row;
      margin: 0;
      margin-left: -75px;
      padding: 0;
      list-style: none;
    }

    a {
      margin: 15px 0;
      display: inline-block;
      text-decoration: none;
      color: #fff;
    }

    .active {
      text-decoration: underline;
      color: red;    }
  }

  .logo {
    margin-left: 0;
    margin-bottom: 0;
  }
}
