.header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  nav {
    width: 30%;

    ul {
      width: 100%;
      display: flex;
      list-style: none;
      padding: 0;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: red;
      }


    }

    .active {
      text-decoration: underline;
      color: red;
    }
  }
}

// .logo {
//   margin-left: 50px;
// }

@media (max-width: 576px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;

    nav {
      margin-top: 0;
      width: 64%;

      ul {
        flex-direction: row;
        margin: 0;
        list-style: none;
      }

      a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        white-space: nowrap;

      }

      .active {
        text-decoration: underline;
        color: red;
      }
    }
  }



  .logo {
    margin-left: 0;
    margin-bottom: 0;
    width: 30%;
  }
}