.banner-background {
  margin: 0;
  height: 223px;
  position: relative;
  text-align: center;
  color: white;

  img {
    width: 90%;
    height: 223px;
    border-radius: 25px;

  }

  .banner-title {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}


@media (max-width: 576px) {
  .banner-background {
    height: 200px;
    background-size: contain;

    img {
      height: 150px;
      margin-left: 10px;
    }

    .banner-title {
      font-size: 2em;
      margin-top: -25px;
    }
  }

}