.slider-container {
  position: relative;
}

.counter {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 0;
  width: 24px;
  height: 32px;
}


.slider-container img {
  align-self: center;
  height: 415px;
  width: 100%;
  object-fit: cover;
}


.slider-btn-prev,
.slider-btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;

}

.slider-btn-prev {
  left: 20px;
}

.slider-btn-next {
  right: 20px;
}

.slider-btn-prev img,
.slider-btn-next img {
  width: 46.68px;
  height: 79.2px;
}

@media (max-width: 576px) {
  .slider-container {
    width: 100%;
  }



  .counter img {
    width: 25px;
    height: 25px;
  }

  .slider-btn-prev {
    margin-left: 10px;
  }

  .slider-btn-next {
    margin-right: 10px;
  }
}