.footer {
  background-color: black;
  padding-bottom: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2%;


}

.img {
  position: relative; 
    left: 0;
  top: 0;
}

.footer_name {
  font-size: 24px;
  color: white;
  margin-bottom: -2%;

}

@media (max-width: 576px) {
  .footer {
    padding-top: 30%;
    padding-bottom: 30%;
    padding-right: 10px;
  }

  .img {
    width: 10%;
    height: auto;
  }

  .footer_name {
    font-size: 16px;
  }
}