.collapse {
  p {
    margin-left: 150px;
    max-width: 1200px;
    width: 100%;
    white-space: pre-wrap;
    background-color: #F6F6F6;
    position: relative;
    margin-top: -25px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;

    

  }

  button {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: left;
    padding-left: 0;
    margin-left: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%; 


  }

  button i {
    margin-right: -5px;
    margin-left: 1050px;
    padding-top: 12px;
    font-size: 1rem;
    fill: white;
    width: 2rem;
    height: 2rem;

    .collapse button:active i {
      transform: rotate(180deg);
    }

  }



  button h3 {
    padding-left: 50px;

  }


  button.btn-primary {
    background-color: red;
    color: #fff;
  }

  button.btn-secondary {
    background-color: red;
    color: #fff;
  }
}

@media (max-width: 576px) {
  .collapse p {
    margin-left: 0px;
    max-width: 300px;
    width: 100%;
margin-left: 55px;
padding-right: 1px;
padding-left: 25px;

  }

  .collapse button i {
    margin-left: 175px;
  }
}

