.collapse {
  margin-bottom: 2.15%;


  p {
    width: 100%;
    white-space: pre-wrap;
    background-color: #F6F6F6;
    position: relative;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-top: 0;
    box-sizing: border-box;



  }

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: left;
    padding-left: 0;
    margin-top: 25px;
    width: 100%;



  }

  button i {
    padding-top: 12px;
    font-size: 1rem;
    fill: white;
    width: 2rem;
    height: 2rem;

    .collapse button:active i {
      transform: rotate(180deg);
    }

  }



  button h3 {
    padding-left: 50px;

  }


  button.btn-primary {
    background-color: #FF6060;
    color: #fff;


  }

  button.btn-secondary {
    background-color: #FF6060;
    color: #fff;
  }

}

@media (max-width: 576px) {
  .apropos-container-collapses {
    margin-bottom: 73px;

    .collapse {
      p {
        width: 100%;
        padding-right: 1px;
        padding-left: 25px;

      }
    }
  }
}

@media (max-width: 1366px) {
  .apropos-container-collapses {
    margin-bottom: 21.5%;

    .collapse {
      margin-top: 11%;

    }

  }
}