.collapse {
  button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  button i {
    margin-right: 10px;
    font-size: 10.5rem;
    fill: white;
    width: 2rem;
    height: 2rem;
  }

  button.btn-primary {
    background-color: red;
    color: #fff;
  }



  button.btn-secondary {
    background-color: red;
    color: #fff;
  }

}
