.container {
  width: 500px;
  margin: 0 auto;

  .title {
    color: red;
    align-items: center;
    font-size: 248px;
    margin-top: -50px;
  }

  .text {
    color: red;
    align-items: center;
    white-space: nowrap;
    margin-left: -180px;
    margin-top: -22.1%;
    font-size: 36px;
  }

  .link {
    text-decoration: none;
    color: red;
    font-size: 18px;
    margin-top: 20px;
    display: block;
    margin-bottom: 101px;
    margin-left: 105px;
  }

  .container a.link {
    text-decoration: none;
    color: red;
    font-size: 18px;
    margin-top: 20px;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;

    .title {
      font-size: 160px;
      margin-left: 35px;
      margin-top: 25px;
      margin-bottom: 155px;
    }
    .text {
      font-size: 14px;
      margin-left: 45px;
      margin-bottom: 125px;



    }
  
    .link {
      font-size: 12px;
    }
  }



}


