.container {
  width: 500px;
  margin: 0 auto;

  .title {
    color: red;
    align-items: center;
    font-size: 248px;
    margin-top: -50px;
  }

  .text {
    color: red;
    align-items: center;
    white-space: nowrap;
    margin-left: -180px;
    margin-top: -30%;
    font-size: 36px;
  }

  a {
    text-decoration: none;
    color: red;
    margin-left: 100px;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    margin: 0 auto;

    .title {
      color: red;
      align-items: center;
      font-size: 124px;
      margin-top: -25px;
      margin-left: 50px;
    }

    .text {
      color: red;
      align-items: center;
      white-space: wrap;
      margin-left: 55px;
      margin-top: -15%;
      font-size: 18px;
      line-height: 1.5;
      max-width: 50%;
    }

    .link {
      margin-bottom: 250px;
    }

    a {
      text-decoration: none;
      color: red;
      margin-left: 50px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}