.infos h1 {
  color: red;
  display: block;
}

.infos p {
  color: red;
}


.localisation p {
  color: red;
  display: block;
}

.tags-and-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tags {
  margin: 10px;
}



div.collapse-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

div.collapse-container .collapse {
  width: 100%;


  div.collapse-container .collapse-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  div.collapse-container .collapse-content {
    padding: 10px;
  }


}

.infos-contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
  padding: 0 15px;
  box-sizing: border-box;

  .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h2 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0;
    }


  }

  .localisation {
    .rating {
      margin-top: 15px;
    }

    p {
      font-size: 14px;
      color: red;
      display: inline-block;

    }

    .contact {
      display: flex;
      align-items: center;
      justify-content: center;



      p {
        margin-right: 30px;
        color: red;
      }

      img {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 50%;
        margin-top: 10px;

      }
    }
  }
}

@media (max-width: 576px) {

  .infos h1 {
    margin-left: 15px;
  }

  .infos p {
    margin-left: 15px;
  }

  .infos-contact {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;

    .infos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  }




  div.collapse-container {
    display: block;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 80%;

    div.collapse-container .collapse-title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    div.collapse-container .collapse-content {
      padding: 10px;
    }
  }

  .localisation {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    align-items: center;

    .contact {
      display: flex;
      flex-direction: row;

    }

    .contact p {
      color: red;
      margin-left: 25%;
    }

    .contact img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      margin-top: 10px;
    }

    .rating {
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 1366px) {
  div.collapse-container {
    margin-bottom: 269px;
  }
}