.infos h2 {
    color: red;
    display: block;
    margin: 10px;
  }
  
  .localisation p {
    color: red;
    display: block;
    margin: 10px;
  }
  .tags-and-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tags {
    margin: 10px;
  }
  
  .rating {
    margin: 10px;
  }

  div.collapse-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-left: -10%;
  }
  
  div.collapse-container .collapse {
    margin-left: 3%;
    margin-right: -10%;
    width: 50%;
    p {
      max-width: 660px;
    }
    button i {
      margin-left: 70%;    
    }
  
    div.collapse-container .collapse-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    div.collapse-container .collapse-content {
      padding: 10px;
    }
//     div.collapse-container button i {
// margin-left: 50px;    }

  }
  