.infos h2 {
    color: red;
    display: block;
    margin: 10px;
  }
  
  .localisation p {
    color: red;
    display: block;
    margin: 10px;
  }
  .tags-and-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tags {
    margin: 10px;
  }
  
  .rating {
    margin: 10px;
  }