.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logement-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 90px;
  margin-right: 90px;
  justify-content: space-evenly;
  background-color: #F6F6F6;
  border-radius: 30px;
} 

.logement-cards::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  background-color: #fff;
}








