.tags {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .tag {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #FF6060;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    width: 40%;
    margin-left: 9px;
  }
}

@media (max-width: 576px) {
  .tags {

    .tag {

      margin: 0.5rem 0;
      margin-bottom: 0.25rem;
      padding: 0.25rem 0.5rem;
      font-size: 0.8rem;
      margin-right: 10px;
      margin-left: 20px;

    }
  }
}

@media (max-width: 990px) {
  .tags {

    .tag {
      margin-left: -2px;


    }
  }
}